<label class="field-shape-select">
<div class="field-shape-toggle">
  <input onclick="submitForm(this)" type="radio" name="{{name}}" value="none"{{#compare value 'none'}} checked{{/compare}}>
  <label class="toggle toggle-yes"><i class="fa fa-ban"></i></label>
  <input onclick="submitForm(this)" type="radio" name="{{name}}" value="block"{{#compare value 'block'}} checked{{/compare}}>
  <label class="toggle toggle-yes"><i class="fa fa-square"></i></label>
  <input onclick="submitForm(this)" type="radio" name="{{name}}" value="rounded"{{#compare value 'rounded'}} checked{{/compare}}>
  <label class="toggle toggle-yes"><i class="fa fa-circle"></i></label>
  <span></span> 
  <p>{{label}}</p>
</div>
</label>