<label class="field-toggle-switch">
  <input type="hidden" name="{{name}}" value="{{#if value}}1{{else}}0{{/if}}">
  <input type="checkbox" onclick="this.previousElementSibling.value=this.checked?1:0;submitForm(this)" {{#if value}} checked{{/if}}>
  <span class="field-toggle-slider"></span>
  <span class="field-toggle-text">{{label}}</span>
</label>