<span title='Width by Height in pixels' class='image-properties'>{{width}} x {{height}}</span>
{{#if optimise}}<a data-fileid="{{fileid}}" href="javascript:;" title="Reduce the file size by reducing the image resolution" data-action="shrink"><i class="ninja-optimise"></i> Optimise</a>{{/if}}