<tr data-src="{{name}}">
	<td>{{name}}</td>
	<td>{{date}}</td>
	<td>{{filesize}}</td>
	<td>
		<button data-action='import-saved-course' title='Import this course'>Import</button>
		<button data-action='download-saved-course' title='Download this course'><i class='ninja-paperclip'></i></button>
		<button data-action='remove-saved-course' title='Delete this course'><i class='ninja-discard'></i></button>
	</td>
</tr>