<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{name}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes"/>
		<style>
			html, body {
				margin: 0;
				min-height: 100vh;
				overflow: auto;
				background-color:#{{backgroundColour}};
			}
			body > img, figure {
				box-shadow: 0 0 1rem rgba(0,0,0,.1);
			}
			body > img {
				max-width: 100%;
				margin: 0 auto;
				display: block;
			}
			figure.zoom {
				margin: 0 auto;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				position: relative;
				overflow: hidden;
				cursor: zoom-in;
			}
			figure.zoom img:hover,
			figure.zoom img:active {
				opacity: 0;
			}
			figure.zoom img {
				transition: opacity .5s;
				display: block;
				width: 100%;
			}
		</style>
	</head>
	<body>
		<img src="{{image}}">
		<script type="text/javascript">
			function zoom(e) {
				var zoomer = e.currentTarget;
				e.offsetX ? (offsetX = e.offsetX) : (offsetX = e.touches[0].pageX);
				e.offsetY ? (offsetY = e.offsetY) : (offsetX = e.touches[0].pageX);
				x = (offsetX / zoomer.offsetWidth) * 100;
				y = (offsetY / zoomer.offsetHeight) * 100;
				zoomer.style.backgroundPosition = x + "% " + y + "%";
			}
			window.addEventListener('DOMContentLoaded', function () {
				document.querySelector("img").addEventListener('load', function (e) {

					var vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0),
						vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0),
						nw = this.naturalWidth,
						nh = this.naturalHeight,
						img = e.target;

					if (nw>vw||nh>vh) {
						var f = document.createElement('figure');
						f.style.backgroundImage = 'url(' + img.src + ')';
						f.style.width = this.offsetWidth + 'px';
						f.style.height = this.offsetHeight + 'px';
						document.body.appendChild(f);
						f.classList.add('zoom');
						f.appendChild(img);
						f.addEventListener('mousemove',zoom);
						f.addEventListener('touchmove',zoom);
					}

				});
			});
		</script>
	</body>
</html>
