<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Image zoom with mousewheel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
    html,body {
    	min-height: 100vh;
			font-size: 16px;
    }
		body {
		  margin: 1rem;
		  background-color: #{{backgroundColour}};
		  text-align: center;
		}
		img {
			max-width: 100%;
		}
	</style>
  </head>
  <body>
    <script>
      function resize(img) {
      	if (img.naturalWidth < document.body.scrollWidth) img.style.width = img.naturalWidth + 'px';
      }
    </script>
    <img src="{{image}}" onload="resize(this)">
  </body>
</html>