<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{name}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>html,body{margin:0;background-color:#{{backgroundColour}};width:100vw;height:100vh;}.preview-contain{background-repeat:no-repeat;background-position:center;background-size:contain;width:100vw;height:100vh;}</style>
		</style>
	</head>
	<body>
		<div style="background-image:url({{image}}); width:100%; height:100%;" class="preview-contain"><i/></div>
		<!-- note: the final image will be exported to a file and uses object-fit:scale-down to fit its container -->
	</body>
</html>
