<section class="file-list-container">
	<input type="file" id="fileAttachUpload" style="display:none" onchange="popover_attachFiles(this.files)" multiple="multiple" />
	<div class="file-list" id="page-file-attachments"></div>
	<div class="actions">
		<button data-action="upload-page-attachments"><i class="ninja-upload3"></i>Attach file</button>
		<button data-action="trash-page-attachments"><i class="ninja-discard"></i>Remove all</button>
	</div>
</section>