<div class="div-center">
<input type='hidden' name='color_value' value='58c3f3'>
<input type='color' id='pb_picker' value='#cccccc' oninput="previewPageBackground(this.value)">
<button onclick="previewPageBackground(this.value)" value="#000000" class="colour-dot black" title="Black"><i class="ninja-format_color_fill"></i></button>
<button onclick="previewPageBackground(this.value)" value="#555555" class="colour-dot dgrey" title="Dark grey"><i class="ninja-format_color_fill"></i></button>
<button onclick="previewPageBackground(this.value)" value="#bbbbbb" class="colour-dot lgrey" title="Light grey"><i class="ninja-format_color_fill"></i></button>
<button onclick="previewPageBackground(this.value)" value="#ffffff" class="colour-dot white" title="White"><i class="ninja-format_color_fill"></i></button>
<button onclick="popover_savePageBackground(false);"><i class="ninja-save-disk"></i>Apply to this page</button>
<button onclick="popover_savePageBackground(true);"><i class="ninja-save-disk"></i>Apply to all pages</button>
</div>