<details>
	<summary>{{name}}</summary>
	<textarea class='theme-editor' wrap='off'>{{{data}}}</textarea>
	<button data-action='update-preset'>Update</button> <a class='inline-help' href='#' data-action='pop-help' data-url='/docs/?url=./01.using-the-app/02.choose-design/02.cusomise-presets/docs.md'><i class='ninja-help'></i></a>
</details>