<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>html,body{margin:0;height:100%;min-height:100%;}</style>
{{#if normalize}}<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">{{/if}}
<script type="text/javascript" src="https://polyfill.io/v3/polyfill.min.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
