# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

_old/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/depreciated
/vendor
composer.lock

.vscode
.VSCodeCounter

src/.vscode
src/.VSCodeCounter


src/*/app.min.*.js
src/*/*.map
src/*/app.min.*.css
src/*/edit.min.*.js
src/*/edit.min.*.css
src/node_modules
src/library/reef*
quiz/*

# the app folder is published by the compile script, so don't check it in
public/app/*
public/app/index.php
public/app/load.php

src/preview/data/*

src/warehouse/*
!src/warehouse/manage.php
!src/warehouse/preview.php
!src/warehouse/scorm.js
!src/warehouse/style.css
public/f.php
public/unsubscribe.json
public/subscribe.json
src/.VSCodeCounter/2023-06-10_16-20-53/details.md
src/.VSCodeCounter/2023-06-10_16-20-53/diff-details.md
src/.VSCodeCounter/2023-06-10_16-20-53/diff.csv
src/.VSCodeCounter/2023-06-10_16-20-53/diff.md
src/.VSCodeCounter/2023-06-10_16-20-53/diff.txt
src/.VSCodeCounter/2023-06-10_16-20-53/results.csv
src/.VSCodeCounter/2023-06-10_16-20-53/results.json
src/.VSCodeCounter/2023-06-10_16-20-53/results.md
src/.VSCodeCounter/2023-06-10_16-20-53/results.txt
