# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

_old/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/depreciated
/vendor
composer.lock

src/*/app.min.*.js
src/*/*.map
src/*/app.min.*.css
src/*/edit.min.*.js
src/*/edit.min.*.css

# the app folder is published by the compile script, so don't check it in
public/app/*

src/preview/data/*
