@keyframes pop {
  50%  {transform: translate(-50%, -50%) scale(1.05);}
}

/* --------------------------
	add content
	TODO: optimise the html so this is easier to maintain
-------------------------- */

.modal {
	position: fixed;
	top: 0; left: 0;
	width: 100vw; height: 100vh;
	background-color: var(--blocking);
	display: none;
	z-index: calc(var(--zheader) + 1);
}
body[class*='modal-'] {
	overflow: hidden;
}
body.modal-add .modal.add-content,
body.modal-import .modal.import-content {
	display: block;
}
body[class*='modal-'] .modal > .modal-box {
	animation: pop 0.2s ease 1;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	box-shadow: 5px 5px 0 rgba(0,0,0,.5);
	width: 50%;
	min-width: 530px;
	color: #333;
	text-shadow: none;
}
.modal.add-content > .modal-box {
	border: 1px solid var(--content);
}
.modal.import-content > .modal-box {
	border: 1px solid var(--import);
}
.modal .tabbed-content nav {
	display: flex;
}
.modal .tabbed-content nav>a.active {
    border-bottom-color: var(--content);
}
.modal .tabbed-content nav>a {
    display: block;
    padding: 1rem;
    border-bottom: 4px solid #f8f8f8;
    margin: 0 1rem;
    outline: none;
}

.modal>div.modal-box.tabbed-content>section{ display:none;padding:25px; }
.modal>div.modal-box.tabbed-content>section.active{ display:block; }

.modal .table-file-list {
	border-collapse: collapse;
	border: 1px solid #ccc;
	width: 100%;
}
.modal .table-file-list th, .modal .table-file-list td {
	border: 1px solid #ccc;
	text-align: left;
	padding: .25rem .5rem;
	white-space: nowrap;
}
.modal .table-file-list tbody tr:nth-child(:odd) td,
.modal .table-file-list thead th {
	background-color: #ddd;
}

.modal .table-file-list button > i {
	margin: 0;
}

.modal.add-content>div.modal-box>section .t-l { text-align: left; }
.modal-box textarea {
	display: block;
	resize:  none;
	height: 7rem;
	width: 100%;
	border: 1px solid #999;
	background-color: transparent;
	padding: .5em;
	margin-bottom: 1em;
}

.modal .tabbed-content p.tip {
	font-size: 0.9rem;
    text-align: center;
    border-top: 4px solid #f8f8f8;
    margin: 0;
    padding: 1rem;
}

.modal .pad-button {
	padding: 1em;
}
.modal.import-content button:hover i {
	color: var(--import);
}
.modal.add-content button:hover i {
	color: var(--content);
}

.modal-box > section:last-of-type {
    padding-bottom: 25px;
}
.modal-box > section:first-of-type {
    padding-top: 25px;
}
.modal-box > section {
    padding: 0 25px;
    text-align: center;
}

.modal .or {
	text-align: center;
	position: relative;
}
.modal .or > span {
	font-style: italic;
	background-color: white;
	color: #999;
	padding: 0 10px;
}
.modal .or:before {
	content: '';
	z-index: -1;
	display: block;
	width: 100%;
	border-bottom: 1px dotted #999;
	position: absolute;
	top: .6em;
}

.modal header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	font-size: 2em;
	text-shadow: 0 1px 0 rgba(0,0,0,.25);
}

.modal header a {
	padding: 10px;
	color: inherit;
}
.modal header>span>i {
	padding: 10px;
}

.modal.add-content header {
    background-color: var(--content);
}

.modal.import-content header {
    background-color: var(--import);
}

.modal section.drag-to-upload .dropzone {
	border: 10px dashed #ddd;
	padding: 7rem;
	cursor: pointer;
	background-color: rgba(255,255,255,0);
	transition: background-color .3s ease, border .3s ease;
}
body.drag-over .modal section.drag-to-upload .dropzone {
	border: 10px dashed #ccc;
	background-color: rgba(224,224,224,1);
}

.label-block {
	display: block;
	text-align: left;
}
.label-block > input {
	margin-right: .5rem;
}


/* --------------------------
	button popovers
-------------------------- */
@keyframes plip {
  50%  {transform: scale(1.05);}
}


.dn-backdrop {
	position: fixed;
	top: 0; left: 0;
	width: 100vw; height: 100vh;
	background-color: var(--blocking);
	z-index: var(--zblocking);
}
.dn-popover {

	animation: plip 0.2s ease 1;

	position: absolute;
	min-width: 175px;
	z-index: var(--zmodal);
	border: 1px solid rgba(0,0,0,.1);
	box-shadow: 5px 5px rgba(0,0,0,.1);
	border-radius: 3px;
	color: #333;
	padding: 0;

	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0 );

}

.dn-popover::before {
	position: absolute;
	z-index: 130;
	content: '';
	top: -22px;
	right: 18px;
	border: 12px solid transparent;
	border-bottom-color: rgba(0,0,0,.1);
}
.dn-popover::after {
	position: absolute;
	z-index: 131;
	content: '';
	top: -21px;
	right: 18px;
	border: 12px solid transparent;
	border-bottom-color: white;
}

.dn-popover[data-source='toggle-add-content']::after,
.dn-popover[data-source='toggle-add-content']::before {
	right: initial;
	left: 18px;
}
.dn-popover .content-types fieldset {
	display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border-color: rgba(0,0,0,.0255);
}
.dn-popover .content-types fieldset > div {
    text-align: center;
    width: 33.33%;
}
.dn-popover .content-types fieldset legend {
	color: #999;
	font-weight: bold;
	text-align: left
}
.dn-popover .content-types fieldset>div {
	background-color: rgba(255,255,255,0);
	padding: .25rem;
	transition: background-color .1s;
	border-radius:1rem;
	cursor: pointer;
}
.dn-popover .content-types fieldset>div:hover {
	background-color: rgba(255,255,255,.5);
	box-shadow: inset 1px 1px 3px rgba(0,0,0,.125);
}
.dn-popover .content-types a > i {
	display: block;
	text-align: center;
	font-size: 32px;
	margin-bottom: .5rem;
	color: inherit;
}

.ga-page { color: var(--content); }
.ga-url { color: var(--url); }
.ga-cloud { color: var(--cloud); }
.ga-markdown { color: var(--markdown) }
.ga-quiz { color: var(--quiz); }
.ga-intro { color: var(--intro); }
.ga-section { color: var(--section); }


/*.dn-popover .content-types {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr min-content min-content min-content min-content;
  gap: 5px 5px;
  grid-template-areas: "common common common" "page markdown quiz" "knowledge knowledge knowledge" ". . .";
}
.dn-popover .content-types > div {
	padding: 10px;
}

.ga-common, .ga-knowledge {
	text-align: left;
}
.dn-popover .content-types > div:not(.ga-common):not(.ga-knowledge) {
	background-color: rgba(255, 255, 255, 0);
	transition: background-color .1s;
	cursor: pointer;
}
.dn-popover .content-types > div:not(.ga-common):not(.ga-knowledge):hover {
	background-color: white;
	box-shadow: 0 0 3px rgba(0,0,0,.1);
}

.ga-common {  }
.ga-knowledge { }

.ga-item > a > i {
	margin-right: 5px;
}
*/

.dn-popover > header {
	background-color: white;
	border-bottom: 1px solid rgb(240,240,240);
	padding: 10px 50px 10px 10px;
	font-weight: 700;
	border-radius: 3px 3px 0 0;
	position: relative;
	pointer-events: none;
}
.dn-popover > header::before {
	position: absolute;
	font-family: 'courseassembler' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\ed6a";
	top: 4px; right: 4px;
	color: silver;
	font-weight: normal;
	font-size: 16px;
	cursor: pointer;
	pointer-events: all;
}

.dn-popover > section {
	text-align: center;
	padding: 10px;
}

.dn-popover .apply-all {
	width: fit-content;
	margin-left: auto;
	margin-top: 5px;
}

.dn-popover .audio-nav {
	width: fit-content;
	margin: 10px auto;
}

.dn-popover .file-list {
	margin-bottom: 10px;
}

.dn-popover .file-list .page-attachment-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	border-bottom: 1px solid rgb(240,240,240);
	padding-bottom: 5px;
}

.dn-popover .file-list .page-attachment-row .fd {
	margin-left: 1rem;
	cursor: pointer;
}

.dn-popover section.score_slider_sizing {
    padding: 45px 20px 10px;
}
.dn-popover section.score_slider_sizing button {
    margin-top: 45px;
}
.dn-popover section.score_slider_sizing .noUi-pips-horizontal {
	height: 40px;
	font-size: 14px;
	line-height: 21px;
	color: #555;
	font-weight: bold;
}
.dn-popover section.score_slider_sizing .noUi-handle {
	outline: none;
}

.dn-popover iframe {
	width: 100%;
	border: none;
	background-color: transparent;
	min-height: 52px;
}

#popover_audioElement {
	display: none;
	margin: 0 auto;
}
#popover_audioElement.visible {
	display: block;
}

#audiorecorder-frame {
	height: 150px;
}

/* --------------------------
	import content
-------------------------- */

/* --------------------------
	settings
-------------------------- */
.toggle-form {
	text-align: left;
}

.toggle-form input[type='checkbox'] {
	opacity: 0;
}
.toggle-form input[type='checkbox'] + label {
	display: inline-block;
	background: #d06326;
	width: 2em;
	height: 1em;
	margin-right: 1em;
	border-radius: .5em;
	position: relative;
	cursor: pointer;
}
.toggle-form input[type='checkbox'] + label > span {
	position: absolute;
	width: .9em;
	height: .9em;
	margin-top: .05em;
	margin-left: .05em;
	border-radius: 1em;
	background: #e8e8e8;
	box-shadow: 1px 1px 3px rgba(0,0,0,.1);
	transition: background-color .2s, transform .2s ease-in;
}
.toggle-form input[type='checkbox']:checked + label {
	background: #138249;
}
.toggle-form input[type='checkbox']:checked + label > span {
	transform:  translateX(1em);
}
