@import url('normalize.css');
@import url('CircularProgressButton.css');
@import url('app.base.css');
@import url('app.banner.css');
@import url('app.nav.css');
@import url('app.buttons.css');
@import url('app.modals.css');
@import url('documents.layout.css');
@import url('documents.navitems.css');
@import url('documents.preview.css');
@import url('design.layout.css');
@import url('download.layout.css');
@import url('buildbot.css');
@import url('font/style.css');

@import url('field.toggle.css');
@import url('field.shape.css');
@import url('field.picker.css');

@import url('field.range.css');

:root {
	/* containers */
	--documents:#ffffff;
	--toolbar:#f4f4f4;
	--design:#f4f4f4;
	--download:#f4f4f4;

	--edge: #d7d7d7;
	--base: #20629b;
	--selection: #ffee00;
	--encasing: #e8e8e8;

	/* buttons */

	--settings: #eea51d;
	--help: #1db2ee;
	--reset: #843da2;

	--markdown: #1db2ee;

	--positive: #7fba42;

	--content: darkgreen;
	--quiz: #9b4dca;
	--resource: #fc3;
	--intro: #f93;

	--content-icon: #d4d4d4;

	--bgcolour: #333;
	--audio: #dc9e1f;
	--edit: #9044c3;
	--view: #46768b;
	--delete: #ff4300;

	--split: #d23785;
	--zoom: #888;
	--score: #505bfd;

	--blocking: transparent;

	/* sizes */
	--bannerHeight:  110px;
	--standardGutter: 10px;
	--footerHeight:  18px;

	/* z-indexes */
	--zheader: 1;
	--zblocking: 10;
	--zcog: 20;
	--zmodal: 30;
}

