@import url('normalize.css');
@import url('CircularProgressButton.css');
@import url('app.base.css');
@import url('app.banner.css');
@import url('app.nav.css');
@import url('app.buttons.css');
@import url('app.modals.css');
@import url('documents.layout.css');
@import url('documents.navitems.css');
@import url('documents.preview.css');
@import url('design.layout.css');
@import url('download.layout.css');
@import url('buildbot.css');
@import url('font/style.css');

:root {
	/* containers */
	--documents:#ffffff;
	--toolbar:#f4f4f4;
	--design:#f4f4f4;
	--download:#f4f4f4;

	--edge: #d7d7d7;
	--base: #20629b;
	--preview: #68A031;
	--selection: #ffee00;
	--encasing: #e8e8e8;

	--blocking: #28C5F8;

	/* buttons */
	--settings: #eea51d;
	--help: #1db2ee;
	--reset: #843da2;
	--bug: darkslategrey;

	/* icons */
	--format: #66809c;

	--positive: #7fba42;

	--markdown: #309ed7;
	--content: #20629b;
	--cloud: #20629b;
	--url:  #20629b;
	--section: #309ed7;
	--quiz: #9b4dca;
	--intro: #309ed7;
	--resource: #9b4dca;
	--import: #FAC851;

	--content-icon: #d4d4d4;

	--bgcolour: #333;
	--audio: #dc9e1f;
	--edit: #9044c3;
	--view: #46768b;
	--delete: #ff4300;

	--split: #d23785;
	--zoom: #888;
	--score: #505bfd;

	--blocking: #00000080;

	/* sizes */
	--bannerHeight:  110px;
	--standardGutter: 10px;
	--footerHeight:  18px;
	--propertyBarHeight: 100px;
	--navPaneWidth: 375px;
	--splitterSize: 10px;

	/* z-indexes */
	--zheader: 1;
	--zblocking: 10;
	--zcog: 20;
	--zmodal: 30;
	--zHandles: 5;
	--zFeedback: 40;

	/* nav item text */
	--navText:  #444;

	/* button states */
	--ready: forestgreen;
	--recording: darkred;
	--processing: goldenrod;
	--oscilliscope: #20629b;

	/* counters */
	--media-control-pc: 0;

}

