/* --------------------------
	base design
-------------------------- */

button {
	background-color: rgba(255,255,255,.75);
	border-radius: 3px;
	padding: 0 5px 0 0;
	box-shadow: 3px 3px 0 0 rgba(0,0,0,.1);
	color: #333;
	margin: 3px;
	border: 1px solid rgba(0,0,0,.1);
	transition: background-color .15s, color .15s;
	white-space: nowrap;
	outline: none;
}
button > i {
	margin: 0;
	background-color: transparent;
	display: inline-block;
	color: inherit;
	padding: 5px;
	margin-right: 5px;
	border-radius: 3px 0 0 3px;
	transition: background-color .15s, color .15s;
}

/* --------------------------
	modifiers
-------------------------- */

button.icon > i {
	margin-right: 0;
}

.toolbar button {
	border: none;
}

/* --------------------------
	hover states
-------------------------- */

button:hover {
	background-color: rgba(241,241,241,1);
}
button:hover > i {
	color: white;
}
button[data-action='pop-help']:hover > i {
	background-color: var(--help);
}
button[data-action='clear-storage']:hover > i {
	background-color: var(--reset);
}
button[data-action='add-content']:hover > i {
	background-color: var(--content);
}
button[data-action='add-quiz']:hover > i {
	background-color: var(--quiz);
}
button[data-action='import-content']:hover > i {
	background-color: var(--resource);
}

button[data-action='page-bgcolour']:hover > i {
	background-color: var(--bgcolour);
}
button[data-action='set-score']:hover > i {
	background-color: var(--score);
}
button[data-action='set-audio']:hover > i {
	background-color: var(--audio);
}
button[data-action='content-editable']:hover > i,
button[data-action='plugin-edit']:hover > i {
	background-color: var(--edit);
}
button[data-action='plugin-view']:hover > i {
	background-color: var(--view);
}
button[data-action='zoom-in']:hover > i,
button[data-action='zoom-out']:hover > i {
	background-color: var(--zoom);
}
button[data-action='split']:hover > i {
	background-color: var(--split);
}
button[data-action='trash']:hover > i {
	background-color: var(--delete);
}

/* popover buttons */
div[data-source="set-score"] button:last-of-type:hover > i,
div[data-source="page-bgcolour"] button:last-of-type:hover > i {
	background-color: var(--positive);
}

button[data-action="record-page-audio"]:hover > i {
	background-color: #cf280e;
}
button[data-action="upload-page-audio"]:hover > i {
	background-color: #8ebd0f;
}
button[data-action="trash-page-audio"]:hover > i {
	background-color: #999;
}

