*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body {
	height: 100vh;
}

body {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.25;
	margin: 0;
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	-webkit-font-smoothing: antialiased;
	position: relative;
	color: white;
}

body > .page-fixed-top {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: var(--zheader);
}

body > section:not(.page-fixed-top) {
    position: absolute;
    left: 0;
    top: var(--bannerHeight);
    height: calc(100vh - var(--bannerHeight) - var(--footerHeight));
    width: 100%;
    overflow: hidden;
    display: none;
}

section#change-settings{
    overflow-y: auto;
}

body.waiting {
	cursor: progress;
}

a {
	color: inherit;
	text-decoration: none;
	outline: none;
}

/* ---------------------------
	page backgrounds
-------------------------- */

body.add-documents {
	background-color: var(--documents);
}
body.change-settings {
	background-color: var(--design);
}
body.download-zip {
	background-color: var(--download);
}

/* ---------------------------
	SVG page-load effect
-------------------------- */
.pageload-link {
	padding: 13px 20px;
	color: #fff;
	background: rgba(0,0,0,0.25);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.6em;
	white-space: nowrap;
}

.pageload-link:hover {
	color: #fff;
	background: rgba(0,0,0,0.2);
}

.pageload-overlay {
	position: fixed;
	width: 100%;
	height: calc(100vh - var(--bannerHeight) - var(--footerHeight));
	top: var(--bannerHeight);
	left: 0;
	visibility: hidden;
	z-index: 99;
}

.pageload-overlay.show {
	visibility: visible;
}

.pageload-overlay svg {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.pageload-overlay svg path {
	fill: #fff;
}

input[type=number] { -moz-appearance: textfield; max-width:3em; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* ---------------------------
	grid helpers
-------------------------- */

.grid-v {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.grid-h {
	display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
	justify-items: center;
}
.grid-2 {
	grid-template-columns: 1fr 1fr;
}
.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-4 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-h label {
	text-align: center;
}
.grid-c {
    justify-items: center;
    align-items: start;
}

/* ---------------------------
	width helpers
-------------------------- */
.w-50 {
	width: 50%;
}
.w-80 {
	width: 80%;
}
.w-100 {
	width: 100%;
}

/* ---------------------------
	margin helpers
-------------------------- */

.m-lr-auto {
	margin-left: auto;
	margin-right: auto;
}
.m-t-large {
	margin-top: 4em;
}
.m-t-regular {
	margin-top: 2em;
}
.m-b-regular {
	margin-bottom: 2em;
}
.m-t-half {
	margin-top: .5em;
}

/* ---------------------------
	flex helpers
-------------------------- */

.dn-flex {
	display: flex;
}

.dn-flex-center {
	text-align: center;
	align-items: center;
}

.dn-flex-v-center {
	align-items: center;
}

.dn-flex-c-1 > *,
.dn-flex-1 {
	flex: 1;
}

.dn-flex-right {
	align-items: flex-end;
	white-space:  nowrap;
}

.dn-flex-lr {
	flex-direction: row;
}

.dn-flex-tb {
	flex-direction: column;
}

.dn-height {
	height: 100%;
}
.dn-flex-around {
	justify-content: space-around;
}
.dn-flex-end {
	justify-content: flex-end;
}
.flex-v {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-1 {
	flex: 1;
}
.pad-left {
	padding-left: .5em;
}
.pad-right {
	padding-left: .5em;
}


/* ---------------------------
	powered by coursesuite
-------------------------- */
footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
	background: var(--base);
	border-top: 1px solid var(--edge);
	height: var(--footerHeight);
	font-size: 12px;
	color: #eee;
	text-shadow: 0 1px 2px rgba(0,0,0,.1);
	text-align: center;
}
footer a {
	color: #fff;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.ninja-spinner {
	display: inline-block; /* animations on work on block-ish items only apparently */
	animation-name: spin;
	animation-duration: 768ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
}

.ninja-spinner.reverse {
	animation-direction: reverse;
}

.mb-0 { margin-bottom: 0 !Important; }