@keyframes pop {
  50%  {transform: translate(-50%, -50%) scale(1.05);}
}

/* --------------------------
	add content
	TODO: optimise the html so this is easier to maintain
-------------------------- */

.modal {
	position: fixed;
	top: 0; left: 0;
	width: 100vw; height: 100vh;
	background-color: var(--blocking);
	display: none;
	z-index: calc(var(--zheader) + 1);
}
body[class*='modal-'] {
	overflow: hidden;
}
body.modal-add .modal.add-content,
body.modal-import .modal.import-content {
	display: block;
}
body[class*='modal-'] .modal > .modal-box {
	animation: pop 0.2s ease 1;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	box-shadow: 5px 5px 0 rgba(0,0,0,.5);
	width: 30%;
	min-width: 530px;
	color: #333;
	text-shadow: none;
}
.modal.add-content > .modal-box {
	border: 1px solid var(--content);
}
.modal.import-content > .modal-box {
	border: 1px solid var(--resource);
}

.modal-box textarea {
	display: block;
	resize:  none;
	height: 4.76em;
	width: 100%;
	border: 1px solid #999;
	background-color: transparent;
	padding: .5em;
	margin-bottom: 1em;
}

.modal button {
	padding: 1em;
}
.modal.import-content button:hover i {
	color: var(--resource);
}
.modal.add-content button:hover i {
	color: var(--content);
}

.modal-box > section:last-of-type {
    padding-bottom: 25px;
}
.modal-box > section:first-of-type {
    padding-top: 25px;
}
.modal-box > section {
    padding: 0 25px;
    text-align: center;
}

.modal .or {
	text-align: center;
	position: relative;
}
.modal .or > span {
	font-style: italic;
	background-color: white;
	color: #999;
	padding: 0 10px;
}
.modal .or:before {
	content: '';
	z-index: -1;
	display: block;
	width: 100%;
	border-bottom: 1px dotted #999;
	position: absolute;
	top: .6em;
}

.modal header {
	position: relative;
	padding: 0;
	margin: 0;
    font-size: 2em;
    line-height: 2em;
    color: white;
}
.modal header a[data-action] {
	position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    background-color: white;
}

.modal.add-content header {
    background-color: var(--content);
}
.modal.add-content header a[data-action] {
    color: var(--content);
}
.modal.import-content header {
    background-color: var(--resource);
    color: black;
}
.modal.import-content header a[data-action] {
    color: var(--resource);
}

.modal header i {
	line-height: inherit;
	display:  inline-block;
	padding: 0 .5em;
	color:  white;
	text-shadow: 1px 1px 0 black;
	margin: 0 .5em 0 0;
}

.modal section.drag-to-upload .dropzone {
	border: 10px dashed #ddd;
	padding: 25px 0;
	cursor: pointer;
	background-color: rgba(255,255,255,0);
	transition: background-color .3s ease, border .3s ease;
}
body.drag-over .modal section.drag-to-upload .dropzone {
	border: 10px dashed #ccc;
	background-color: rgba(224,224,224,1);
}


/* --------------------------
	button popovers
-------------------------- */
@keyframes plip {
  50%  {transform: scale(1.05);}
}
.dn-popover button:not([data-action]):hover > i {
	background-color: silver;
}
button.positive:hover > i {
	background-color: var(--positive) !important;
}

.dn-backdrop {
	position: fixed;
	top: 0; left: 0;
	width: 100vw; height: 100vh;
	background-color: var(--blocking);
	z-index: var(--zblocking);
}
.dn-popover {

	animation: plip 0.2s ease 1;

	position: absolute;
	min-width: 175px;
	z-index: var(--zmodal);
	border: 1px solid rgba(0,0,0,.1);
	box-shadow: 5px 5px rgba(0,0,0,.1);
	border-radius: 3px;
	color: #333;
	padding: 0;

	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0 );

}

.dn-popover::before {
	position: absolute;
	z-index: 130;
	content: '';
	top: -22px;
	right: 18px;
	border: 12px solid transparent;
	border-bottom-color: rgba(0,0,0,.1);
}
.dn-popover::after {
	position: absolute;
	z-index: 131;
	content: '';
	top: -21px;
	right: 18px;
	border: 12px solid transparent;
	border-bottom-color: white;
}

.dn-popover > header {
	background-color: white;
	border-bottom: 1px solid rgb(240,240,240);
	padding: 10px 50px 10px 10px;
	font-weight: 700;
	border-radius: 3px 3px 0 0;
	position: relative;
	pointer-events: none;
}
.dn-popover > header::before {
	position: absolute;
	font-family: 'scormninja' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\ed6a";
	top: 4px; right: 4px;
	color: silver;
	font-weight: normal;
	font-size: 16px;
	cursor: pointer;
	pointer-events: all;
}

.dn-popover > section {
	text-align: center;
	padding: 10px;
}

.dn-popover .colour-dot {
	width: 32px;
	height: 32px;
	border-color: transparent;
	border-radius: 16px;
	display: inline-block;
	color: #999;
}

.dn-popover button.colour-dot:hover {
}
.dn-popover button.colour-dot > i {
	margin-right: 0 !important;
	padding: 0 0 0 .45em;
	pointer-events: none;
}
.dn-popover button:not([data-action]).colour-dot:hover > i {
	background-color: initial !important;
}
.dn-popover .colour-dot.black { background-color: #000000; }
.dn-popover .colour-dot.lgrey { background-color: #bbbbbb; }
.dn-popover .colour-dot.dgrey { background-color: #555555; }
.dn-popover .colour-dot.white { background-color: #ffffff; }

.dn-popover .apply-all {
	width: fit-content;
	margin-left: auto;
	margin-top: 5px;
}

.dn-popover section.score_slider_sizing {
    padding: 45px 20px 10px;
}
.dn-popover section.score_slider_sizing button {
    margin-top: 45px;
}
.dn-popover section.score_slider_sizing .noUi-pips-horizontal {
	height: 40px;
	font-size: 14px;
	line-height: 21px;
	color: #555;
	font-weight: bold;
}
.dn-popover section.score_slider_sizing .noUi-handle {
	outline: none;
}

.dn-popover iframe {
	width: 100%;
	border: none;
	background-color: transparent;
	min-height: 52px;
}

#popover_audioElement {
	display: none;
	margin: 0 auto;
}
#popover_audioElement.visible {
	display: block;
}

#audiorecorder-frame {
	height: 150px;
}

/* --------------------------
	import content
-------------------------- */

