#nav-selection {
	color: var(--base);
}

#nav-selection>h3 {
	display: none;
}
#nav-selection.hidden>h3 {
	display: block;
}

	#nav-selection fieldset {
	    display: block;
	    margin-inline-start: 2px;
	    margin-inline-end: 2px;
	    padding-block-start: 0.35em;
	    padding-inline-start: 0.75em;
	    padding-inline-end: 0.75em;
	    padding-block-end: 0.625em;
	    min-inline-size: min-content;
	    border-width: 1px;
	    border-style: solid;
	    border-color: var(--edge);
	    border-image: initial;
	    margin-bottom: 1em;
	    transition: border-color .3s ease-in;
	    background-color: white;
	}

	#nav-selection fieldset:hover {
		border-color: var(--base);
		transition: border-color 0s;
	}

		#nav-selection legend {
		    display: block;
		    padding-inline-start: 2px;
		    padding-inline-end: 2px;
		    border-width: initial;
		    border-style: none;
		    border-color: initial;
		    border-image: initial;
		    font-weight: bold;
		}

		#nav-selection p.theme-options {
			background-color: rgba(0,0,63,.125);
			color: #444;
			padding:  .5em;
			border-radius:  4px;
		}

		#nav-selection .grid {
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-justify-content: space-around;
			-ms-flex-pack: distribute;
			justify-content: space-around;
			-webkit-align-content: flex-start;
			-ms-flex-line-pack: start;
			align-content: flex-start;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
		}

		#nav-selection .grid>div {
			flex: 1 0 20%;
		}

	#nav-selection figure {
		position: relative;
		width: calc(1em + 160px);
		margin: .5em auto;
		padding: .5em;
		border: 2px solid transparent;
		border-radius: 4px;
		text-align:  center;
		cursor: pointer;
	}

	#nav-selection figure.selected {
	    border-color: rgb(255, 232, 0);
	    background-color: rgba(255, 255, 127, 0.85);
	    color: #000;
	    box-shadow: 0 5px 10px rgba(0,0,0,.25);
	    animation: slowgrow 2.5s ease infinite;
	}
		#nav-selection figure svg,
		#nav-selection figure img {
			position: absolute;
			top: .5em;left: .5em; width: 160px; height: 120px;
			z-index: 1;
			border: 1px solid var(--edge);
		}
		#nav-selection figure svg {
			z-index: 2;
		}
		#nav-selection figure figcaption {
			margin-top: calc(120px + .5em);
		}

@keyframes slowgrow {
  50%  { box-shadow: 0 10px 25px rgba(0,0,0,.25); }
}
