#nav-item-list {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
	color: #444;
	text-shadow: none;
}

#nav-item-list:empty {
	position: relative;
	height: 100%;
}
#nav-item-list:empty:after {
    content: 'No items - add some!';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
}

#nav-item-list input.rename-page {
	border:  1px solid var(--edge);
	background-color: rgba(255,255,255,.5);
	padding: 3px;
	margin: -1px 4px 0 -3px;
	border-radius: 4px;
	color: var(--base);
	outline: none;
}

#nav-actions, #scroll-area {
    border-right-color: var(--edge);
    overflow: hidden;
    overflow-y: auto;
}
#nav-item-list>li, #nav-item-list ol>li, .toolbar {
    border-bottom-color: var(--edge);
}
#nav-item-list, #nav-item-list>li a, #nav-item-list ol>li a, #nav-item-list i, #nav-item-list .indent a>span {
    color: inherit;
}

#nav-item-list li:hover i, #nav-item-list li:hover a>span {
    color: #444;
}

#scroll-area {
    background-color: var(--toolbar);
}

#nav-item-list .drag-handle,
#nav-item-list .audio-icon,
#nav-item-list .attach-icon {
	color: #222;
	opacity: .4;
}


#nav-item-list .drag-handle {
	cursor: move;
	transition: opacity .2s;
	margin: 0 4px;
}
#nav-item-list li[data-fileid]:hover .drag-handle,
#nav-item-list li[data-fileid]:focus-within .drag-handle {
	opacity: 1;
	transition: opacity .6s;
}

#nav-item-list .format-icon {
	min-width: 24px;
	color: var(--format);
}

#nav-item-list .indent {
	font-size: 24px;
	min-width: 32px;
}

#nav-item-list .indent a>span:before {
	font-size: 24px;
	font-family: 'courseassembler' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#nav-item-list .indent .current-state-increase a {
	cursor: e-resize;
}
#nav-item-list .indent .current-state-increase a > span:before {
	content: '\e903';
}
#nav-item-list .indent .current-state-decrease a {
	cursor: w-resize;
}
#nav-item-list .indent .current-state-decrease a > span:before {
	content:'\e905';
}
#nav-item-list li:hover {
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,.1) 100%);
}
#nav-item-list>li,
#nav-item-list ol>li {
	padding: 10px 0;
	border-bottom: 1px dotted var(--edge);
}
#nav-item-list>li>a{
	padding-left: .3em;
}
#nav-item-list>li a,
#nav-item-list ol>li a {
	color: #444;
}
#nav-item-list>li a:focus,
#nav-item-list ol>li a:focus {
	outline: none;
}
#nav-item-list a[data-action='preview'] {
	display: block;
}

#nav-item-list .nav-item {
	align-items: center;
}

#nav-item-list .nav-item .label {
    overflow-wrap: anywhere; /* FORCE wrap text labels that are too long */
}

#nav-item-list a.rename-hint,
#nav-item-list span.audio-hint,
#nav-item-list span.file-hint {
	margin-right: 5px;
}

#nav-item-list .audio-icon,
#nav-item-list .rename-hint,
#nav-item-list .attach-icon {
	display: none;
}

#nav-item-list li[data-fileid].audio .audio-icon,
#nav-item-list li[data-fileid].selected .rename-hint,
#nav-item-list li[data-fileid].attachments .attach-icon {
	display: inline-block;
}


/*#add-documents li[data-depth='1'] a.toggle-switch {
	margin-left: 16px !important;
}
#add-documents li[data-depth='2'] a.toggle-switch {
	margin-left: 32px !important;
}
#add-documents li[data-depth='3'] a.toggle-switch {
	margin-left: 48px !important;
}
*/
#nav-item-list>li.selected,
#nav-item-list ol>li.selected {
    background-color: var(--selection);
    position: relative;
}

/* seciton headers don't have indenting */
li[data-fileid][data-plugin='Section'] .indent {
	opacity: .1;
	pointer-events: none;
}