.toolbar {
	background-color: var(--toolbar);
	background-image: none;
	height: 50px;
	border-bottom: 1px solid rgba(255,255,255,.5);
	position: relative;
}
	#nav-actions {
		position: absolute;
		top: 0;
		left: 0;
		width: var(--navPaneWidth);
		height: 50px;
		border-right: 1px solid var(--documents);
	}
	#fields {
		position: absolute;
		top: 0;
		left: var(--navPaneWidth);
		width: calc(100vw - var(--navPaneWidth));
		height: 50px;
	}
		#fields .dn-flex-1 {
			flex: 1;
			text-align: center;
		}

#scroll-area {
	position: absolute;
	top: 50px;
	left: 0;
	width: var(--navPaneWidth);
	height: calc(100vh - 50px - var(--bannerHeight) - 18px);
	border-right: 1px solid rgba(255,255,255,.5);
}

#preview {
	position: absolute;
	top: 50px;
	left: var(--navPaneWidth);
	width: calc(100vw - var(--navPaneWidth));
	height: calc(100vh - 50px - var(--bannerHeight) - 18px - var(--propertyBarHeight));
	display: flex;
}

#popover_videoElement,
#popover_audioElement {
	position: fixed;
	bottom: calc((18px + var(--propertyBarHeight)) + .5rem);
	right: calc(18px + .5rem);
	max-height: 25vh;
	transition: opacity .3s ease;
	opacity: 0.5;
	cursor:move;
}
#popover_videoElement {
	border-radius: 1rem;
	box-shadow: 0 0 .5rem #00000050;
}
#popover_videoElement:hover,
#popover_audioElement:hover { 
	opacity: 1;
}

	#propertyBar {
		position: absolute;
		height: var(--propertyBarHeight);
		bottom: 0;
		background-color: var(--toolbar);
		width: calc(100% - var(--navPaneWidth));
		border-top: 1px solid var(--edge);
		left: var(--navPaneWidth);
		color: black;

		display: flex;
		justify-content: flex-start;
		align-items: stretch;

		gap: var(--standardGutter);

	}
	#propertyBar nav.menu {
		border-right: 1px solid var(--edge);
		width: max-content;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-around;
	}
	#propertyBar nav.menu a {
		padding: .25rem .5rem;
		color: inherit;
		text-decoration: none;
		position: relative;
	}
	#propertyBar nav.menu a.active,
	#propertyBar nav.menu a:active {
		font-weight: bold;
		background-color: var(--edge);
		outline: none;
	}
	#propertyBar nav.menu a.active::after {
		content: '';
		border: 10px solid var(--edge);
		font-size: 0;
		position: absolute;
		top: 50%;
		right: -20px;
		border-color: transparent transparent transparent var(--edge);
		transform: translateY(-50%);
	}
	#propertyBar nav.menu a > i {
		margin-right: .5rem;
	}

	#propertyContainer {
		flex: 1;
		padding: var(--standardGutter);
	}

	/* #propertyContainer label { display: block; } */
	#propertyContainer canvas { height: calc(var(--propertyBarHeight) / 2); width: 300px; border: 1px solid #00000010; }
	#propertyContainer .control { display: flex; gap: var(--standardGutter); }
	#propertyContainer .ready {
		border-color: var(--ready);
		color: var(--ready);
	}
	#propertyContainer .recording {
		border-color: var(--recording);
		color: var(--recording);
	}
	#propertyContainer .processing {
		border-color: var(--processing);
		color: var(--processing);
	}
	#propertyContainer button[disabled] {
		pointer-events: none;
		opacity: .5;
	}

	#propertyContainer button,
	#propertyContainer label {
		height: 32px;
	}
	#propertyContainer .recorder-flex {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: var(--standardGutter);
	}
	#propertyContainer .recorder-flex .result {
		flex: 1;
		text-align: center;
		position: relative;
	}
	#propertyContainer .recorder-flex .result.big {
		font-size: 1.5rem;
		padding-top: 1rem;
	}
	#propertyContainer .recorder-flex .result .time-display {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-weight: bold;
		font-size: 2rem;
	}
	#propertyContainer .recorder-flex label {
		transform: translateY(-.1rem);
	}
	#video-preview {
		max-height: calc(var(--propertyBarHeight) - (var(--standardGutter) * 2));
	}
	#video-overlay {
		position: fixed;
		z-index: calc(var(--zHandles) - 1);
		bottom: calc(var(--footerHeight) + var(--propertyBarHeight));
		pointer-events: none;
		opacity: .95;
	}

	#propertyContainer .score_slider_sizing {
		display: flex;
		align-items: center;
		gap: var(--standardGutter);
	}
	#propertyContainer .score_slider_sizing .range-wrap {
		flex: 1;
	}

.file-list-container {
	display: flex;
	height: calc(var(--propertyBarHeight) - (var(--standardGutter) * 2))
}
.file-list-container .file-list {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	justify-content: flex-start;
	align-items: flex-start;
}
.file-list-container .file-list .page-attachment-row {
	background: var(--encasing);
	margin: 0 1px 1px 0;
	padding: .25rem;
}
.file-list-container div.actions {
	width: min-content;
}
.div-center {
	margin-left: auto;
	margin-right: auto;
	width: max-content;
}
.div-center input,
.div-center button {
	height: 32px;
}
.div-center #pb_picker {
	transform: translateY(.3rem);
}


#split-h, #split-v {
	position: absolute;
	z-index: var(--zHandles);
	width: var(--splitterSize);
	height: var(--splitterSize);
	border-radius: calc( var(--splitterSize) / 2);
	background: var(--edge);
}
#split-h {
	left: calc(var(--navPaneWidth) - (var(--splitterSize) / 2));
	top: calc((100vh / 2) - 50px - (var(--splitterSize) / 2));
	cursor: col-resize;
}
#split-v {
	top: calc(100vh - var(--bannerHeight) - 18px - var(--propertyBarHeight) - (var(--splitterSize) / 2));
	left: calc(((100vw + var(--navPaneWidth)) / 2) - (var(--splitterSize) / 2));
	cursor: row-resize;
}


#feedback {
	--buttonWidth: 42px;
	--formWidth: 320px;
	color: var(--base);
	position: fixed;
	top: 60px;
	left: calc(100vw - var(--buttonWidth));
	transform: translate(0, 0);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	transition: transform .5s ease;
	z-index: var(--zFeedback);
}
#feedback .action-icon {
	opacity: 1;
	transition: opacity .3s;
}
#feedback.open {
	transform: translate(calc(var(--formWidth) * -1), 0);
}
#feedback.open .action-icon {
	opacity: 0;
}
#feedback .action-icon span {
	display: block;
}

#feedback.capturing { 
	visibility: hidden;
}
#feedback > .feedback-form {
	padding: var(--standardGutter);
	width: var(--formWidth);
	background: var(--base) linear-gradient(1deg, rgba(28,3,69,0) 0%, rgba(68,94,186,1) 75%, rgba(0,212,255,1) 100%);
	color: white;
	border-radius: 10px 0 0 10px;
}
#feedback > .feedback-form button {
	color: black;
}
#feedback .form-row {
	margin-top: var(--standardGutter);
}
#feedback .form-row output {
	display: block;
}
#feedback img {
	max-width: 75%;
	margin: 0 auto;
}
#feedback label {
	text-transform: uppercase;
	display:block;
}
#feedback label>span {
	text-transform: lowercase;
}
#feedback select, #feedback textarea {
	display: block;
	width: 100%;
	resize: vertical;
}
#feedback .form-close {
	display:flex;
	justify-content: space-between;
	border-bottom:1px dotted #ffffff80;
	line-height:2rem;
}
#feedback .form-submit {
	text-align: center;
}
#feedback a[data-action="capture-screenshot"] {
	margin: var(--standardGutter) 0;
	padding: var(--standardGutter);
	border: 1px dashed #ffffff80;
	text-align:center;
	display: block;
	position: relative;
	cursor: pointer;
}
#feedback a[data-action="capture-screenshot"].trash::after {
	position: absolute;
	top:0;
	right:0;
	content:'\ebfa';
	font-family:'courseassembler';
	line-height:1;
}