/* ---------------------------
	settings page
-------------------------- */

#download-zip {
	color: black;
	overflow: auto;
}

.settings-panel {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-gap: 1em;
}
.settings-panel label>small {
	display: block;
	color: var(--base);
}
.settings-panel label>small.r{color:red}

.settings-panel > * {
	padding: 1em;
}

.settings-panel input, .settings-panel textarea {
	color: currentColor;
	border: 1px solid var(--edge);
	background-color: white;
}

.radio-panel [type='radio'] {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}
.radio-panel [type='radio']+svg {
	cursor: pointer;
	height: 64px;
	outline: none;
}
.radio-panel [type='radio']:not(:checked)+svg polygon,
.radio-panel [type='radio']:not(:checked)+svg path {
	fill: #d1d1d1;
}
.radio-panel [type='radio']:checked+svg+p {
	font-weight: bold;
}

#download-zip fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border: 1px solid var(--edge);
    border-image: initial;
    margin-bottom: 1em;
}
#download-zip legend {
	color: var(--base);
	font-weight: bold;
}


/*
.settings-panel .heading h2 {
	margin: 0 0  30px 0;
	padding:0;
}
.settings-panel .content {
	display: table;
	width: 100%;
}
.settings-panel .content .field-row {
	display: table-row;
}
.settings-panel .content .field-row:first-of-type > label,
.settings-panel .content .field-row:first-of-type > .input {
	border-top: none;
}
.settings-panel .content .field-row > .input,
.settings-panel .content .field-row > label {
	display: table-cell;
	vertical-align: top;
	padding: 10px 0;
	border-top: 1px dotted rgba(255,255,255,.5);
}
.settings-panel .content .field-row > .input > input[type='text'],
.settings-panel .content .field-row > .input > textarea {
	padding: 5px;
	width: 100%;
	border: none;
	outline: none;
}

.settings-panel .content .field-row > label {
	color: rgba(255,255,255,.75);
	width: 33%;
}
.settings-panel .content .field-row > .input {
	background-color: rgba(76, 90, 121,.5);
}
.settings-panel .content .field-row:hover > label {
	color: rgba(255,255,255,1);
	text-shadow: 1px 1px 0 rgba(0,0,0,.5);
	background-color: rgba(76, 90, 121, 0.8);
}

.settings-panel .content .field-row > .input > .row {
	display: block;
	padding: 5px 0;
}
.settings-panel .content .field-row > .input > .row:first-of-type {
	padding-top: 0;
}
.settings-panel .content .field-row > .input > .row:last-of-type {
	padding-bottom: 0;
}

.settings-panel .content .field-row > .input > .row > input {
	display: inline;
}


*/