.field-shape-toggle {
  display: inline-block;
  padding: 2px 3px;
  border-radius: 20px;
  position:relative;
  border: 2px solid #ccc;
}

.field-shape-toggle label {
  text-align: center;
  font-family: sans-serif;
  display: inline-block;
  color: #2196F3;
  position:relative;
  z-index:2;
  margin: 0;
  text-align: center;
  padding: 2px 3px;
  font-size: 15px;
}

.field-shape-toggle input {
  position: absolute;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

.field-shape-toggle span {
  height: 21px;
  width: 21px;
  line-height: 21px;
  border-radius: 50%;
  background: #fff;
  display: block;
  position: absolute;
  left: 22px;
  top: 2px;
  transition:all .4s ease-in-out;
}

.field-shape-toggle p {
	display: inline-block;
	margin: 0 .5rem;
}

.field-shape-toggle input[value="none"]:checked ~ span {
  background: #ccc;
  left: 2px;
}
.field-shape-toggle input[value="none"]:checked ~ p::before {
	content: 'No ';
}

.field-shape-toggle input[value="block"]:checked ~ span {
  background: #2196F3;
  left: 25px;
}
.field-shape-toggle input[value="block"]:checked ~ p::before {
	content: 'Rectangular ';
}

.field-shape-toggle input[value="rounded"]:checked ~ span {
  background: #2196F3;
  left: 47px;
}
.field-shape-toggle input[value="rounded"]:checked ~ p::before {
	content: 'Rounded ';
}

.field-shape-toggle input:checked + label,
.field-shape-toggle input:checked + label,
.field-shape-toggle input:checked + label {
  color: #fff;
}
