.fcolorpicker * {
  font-family: sans-serif;
  color: black;
}

.fcolorpicker .color-slidedown ul {
  background: white !important;
}

.fcolorpicker-curbox {
  width: 1rem;
  height: 1rem;
  border-radius: .3rem;
}

.field-shape-picker > div {
  display: inline-block;
  border: 1px solid #ccc;
  vertical-align: middle;
  border-radius: .3rem;
}
